* {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    padding: 60px;
}

h2 {
    font-size: 2rem;
}

ul, li {
    list-style: none;
}

input {
    color: gray;
    font-size: 1.2rem;
    width: 100%;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 980px) {
    .card-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 760px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 520px) {
    .card-grid {
        display: block;
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden;
}

.card p {
    padding: 5px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
}

.card img {
    height: 200px;
    max-width: 100%;
    padding: 10px;
}